__pycache__
*.pyc
.git
.gitignore
README.md
standards/
standards-template/
tests/
.pytest_cache
.ruff_cache
htmlcov
.coverage
venv
env
.venv
.conda
models/*.pkl
models/*.joblib
Dockerfile
.dockerignore
